.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-attentionButton {
  background-color: #e11584;
  border-radius: 25px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  outline: none;
  width: 300px;
  transition: background-color 0.25s;
}

.App-attentionButton:hover {
  background-color: #ed43a0;
}

@keyframes Attention-button-hover {
  from {
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
